/*todo se ve bonito*/
*{
    padding:0;
    margin:0;
    color:#000000;
    
}

html, body, table{
    
    background-color: #e7bc5f;
    text-align: center;
    
}
.Z{
    border:5px solid #162123;
    border-radius: 0px;
    margin: 0rem ;
    background-color: #162123;
    text-align: right;
    font-family: 'Josefin Sans', sans-serif;
    /*Letra mas recta*/
}
header{
    font-size: 45px;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.div_inicio{
    background-color: #e7bc5f;
    
    font-family: 'Playfair Display', serif;
    /*Letra mas elegante*/
}


#menu {  
    background-color: #F3CECB; 
    padding:1px 0px 1px 250px ; 
    
} 
#menu li { 
    display: inline-block; 
    list-style: none; 
    font: bold 14px verdana, sans-serif; 
    padding: 1em 3px 0px 25px;  
    /*  arriba    1em  padding  */
    /*  derecha  3px  padding  */
    /*  abajo 30px padding  */
    /*  izquierda   5px  padding
    /* en dirección de las agujas del reloj */
}



textarea{
    align-items: center;
}



.boxi{
	border: 2px solid #000000;
	border-radius: 3px;
}



table {
    border:50px solid #F3CECB;
    border-collapse: separate;
    border-spacing: 5px;
    background: #fff url("gradient.gif") bottom left repeat-x;
    color: #fff;
    align-content: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

